<div class="section users-layout">
    <%= content_for :title, "Users" %>
    <h1>Users</h1>

    <hr>
    <div id="users" class="users-list">
    <hr>
    <% @users.each do |user| %>
      <%= link_to user, class: "chat-link" do %>
        <h3><%= user.name %></h3>
      <% end %>
      <hr>
    <% end %>
  </div>
</div>