<div class="section chats-layout">
  <% content_for :title, "Chats" %>

  <div class="chats-header">
    <h1 class="text-no-margin">Chats</h1>
    <%= button_to "New chat", new_chat_path, class: "btn btn-primary", method: :get %>
  </div>

  <div id="chats" class="chats-list">
    <hr>
    <% @chats.each do |chat| %>
      <%= link_to chat, class: "chat-link" do %>
        <h3><%= chat.name %></h3>
      <% end %>
      <hr>
    <% end %>
  </div>
</div>
