<% content_for :title, "Something went wrong" %>

<div class="error-page">
  <h1>500</h1>
  <p>We're sorry, but something went wrong.</p>
  <p>Please try again in a moment.</p>
  <p><%= link_to "Back to Chats", root_path, class: "btn btn-primary" %></p>
</div>
